doctype html
html
  head
    title Profile
    script(src='http://s.codepen.io/assets/libs/modernizr.js', type='text/javascript')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Poiret+One|Oleo+Script:400,700|Racing+Sans+One|Merienda+One|Oswald:400,300|Changa+One|Bangers', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Exo:100,200,300,400,500,600,700|Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
    link(href='/stylesheets/profile.css', rel='stylesheet')
    script(src='/javascripts/prefixfree.min.js')
  body
    block content
