extends layout

block content
  include nav
  .container(ng-controller='test')
    button.btn.btn-default(ng-click='start()') start
    button.btn.btn-default(ng-click='stop()') stop
    button.btn.btn-default(ng-click='reset()') reset

    div(ng-repeat='unit in unitStatus')
      progress-bar
