extends layout

block content
  include nav
  .container(ng-controller='test')
    button.btn.btn-default(ng-click='start()') start
    button.btn.btn-default(ng-click='stop()') stop
    button.btn.btn-default(ng-click='reset()') reset
    .progress(style='width: 80%')
      .progress-bar.progress-bar-striped.active(ng-class='others',role='progressbar', aria-valuenow='val', aria-valuemin='0', aria-valuemax='100', ng-style='{"width": myW}')
        | {{ val }}

    .progress
      .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='val', aria-valuemin='0', aria-valuemax='100', ng-style='{"width": myW}')
        | {{ val }}
