html
  title Welcome
  body
    video(controls='')
      source(src='../files/FHD-star-706.mp4', type='video/mp4')
      |         Your browser does not support the
      code video
      |  element.
